* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(3, 3, 3, 0.75);
    color: white;
}

.container {
    display: flex;
}
/* Everything in Navbar */
.navbar {
    width: 75px;
    background-color: #222;
    height: 100vh;
    position: flex;
    top: 0;
    left: 0;
    padding-top: 100px;
}
/* settings & profile */
.nav-right {
    position: bottom;
    justify-content: space-between;
    padding-top: 290px;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    padding: 8px;
    text-align: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 25px;
}

.navbar nav-right {
    font-size: px;


}

.main-content {
    margin-left: 200px;
    padding: 20px;
}

#calendar {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
}

/* Calendar */

.calendar {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header, button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: black;
    border-radius: 100%;
    background: #f6f2f2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day{
    text-align: center;
    padding: 5px;
    color: white;
    font-weight: 500;
}

.dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}